<div class="container">

    <h2 class="text-center">Log In to The Album Spot</h1>
    <div class="row">
        <div class="col-md-4 offset-md-4 mt-4">
            <%= bootstrap_form_for :user, url:login_path do |f| %>
            <%= f.email_field :email %>
            <%= f.password_field :password %>
            <%= f.submit "Log In", class: "btn btn-primary" %>
            <% end %>
            <div class="mt-3">
            <%= link_to "Log in with Github", "/auth/github",class: "btn btn-primary", role: "button" %></div>
        </div>
    </div> 
</div>
