<style>
    .jumbotron {
        background-image: linear-gradient(to bottom, rgba(245, 246, 252, 0.52), rgba(117, 19, 93, 0.73)),url('https://i.imgur.com/IKi1fgx.jpg');
        background-size: cover;
        height: 250px;
    }
</style>

<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-2 text-white text-bold ">Welcome to The Album Spot!</h1>
     
    </div>
</div>

<div class="container">
    <div class="row justify-content-around mt-5">
      <div class="col-md-5">
        <h2>Your Album Collection</h2>
        <p>Search the Spotify database by Artist and add albums to your collection.  If you have a Spotify account (strongly recommended!), you can listen to albums in your collection. You can review your albums and read reviews written by other Album Spotters. Sign up or log in and have fun!</p>
      </div>
      <div class="col-md-5">
        <h2>Read Reviews</h2>
        <p>Once you become an Album Spotter, you can visit the Review page to see what music other Album Spotters are listening to and have reviewed. You can add those albums to your collection and add your own review!        
      </div>
    </div>
    <div class="row justify-content-around">
        
            <% if !current_user %>
                <div class="col-md-4 offset-md-2">
                    <%= link_to 'Sign Up', signup_path, class: "btn btn-primary", role: "button" %>
                    <%= link_to 'Log In', login_path, class: "btn btn-primary", role: "button" %>
                </div>
            <% else  %>
                <div class="col-md-6 offset-md-2">
                    <%= link_to 'Find Artists', search_artist_path , class: "btn btn-primary", role: "button" %>
                    <%= link_to 'Your Album Collection', user_collection_index_path(current_user.id), class: "btn btn-primary", role: "button" %>
                    <%= link_to 'Read Reviews', reviewed_albums_path, class: "btn btn-primary", role: "button" %>
                </div>
            <% end%>

       
    </div>

</div>



