<div class="container">
    <div class="row"> 
        <% @user_albums.each do |user_album| %>            
            <div class="col-md-4">
                <div class="card  mb-4 shadow-sm" >
                    <img class="card-img-top" src="<%= user_album.album.image %>" alt="Card image" style="width:100%">
                    <div class="card-body">
                        <h4 class="card-title"><%= user_album.album.artist.name %></h4>
                        <p class="card-text"><%= user_album.album.name %></p>
                        <% if user_album.review %>
                             <% user_album.review.stars.times do%>
                                <i class="fas fa-star" style="color:orange;"></i>
                            <% end%>
                            <% (5 - user_album.review.stars).times do %>
                                <i class="far fa-star" style="color:orange;" ></i>
                            <% end%> <%= user_album.review.stars %> out of 5  
                        <% else %>
                        Not rated yet.
                          
                        <% end %>

                        


                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <% if !user_album.review %>
                                    <%= link_to 'Add Review', new_user_album_review_path(user_album), class: "btn btn-sm btn-outline-secondary", type: "button" %>
                                <% else%>
                                    <%= link_to 'Edit Review', edit_review_path(user_album.review), class: "btn btn-sm btn-outline-secondary", type: "button" %>
                                <% end%>


                                <!-- <button type="button" class="btn btn-sm btn-outline-secondary">Add Review</button>--> <!-- "Edit Review" if review exists-->
                                <button type="button" class="btn btn-sm btn-outline-secondary">View</button> <!-- go to Album show page -->
                            </div>
                            <small class="text-muted">Delete</small>
                        </div>
                    </div>
                </div>
            </div> 
         <% end %>
    </div>
</div>