<div class="container">

    <h1 class="page-header"><%= @album.artist.name %></h1>

    <div class="row">
        <div class="col-md-6">
             <p><img src=<%= @album.image %> alt="" height="400" width="400"></p>
             <h2><%= @album.name %></h2>
             <p>Release Date:  <%= @album.release_date %> <br>
                <%= @album.label %> <br>
                <%= @album.copyright %>
             </p>
             <% if @album.average_user_rating  %>   <!-- average_user_rating =  and change the local to partial to avoid calling twice -->   
                <p class="font-weight-bold" >Average User Rating:  <%= render partial: "reviews/stars", locals: { stars: @album.average_user_rating } %></p>
            <% else %>
                <p class="font-weight-bold">Not rated yet</p>
            <% end%>
        </div>        
        <div class="col-md-6">
            <iframe src="https://open.spotify.com/embed/album/<%= @album.spotify_id %>" width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
            <p>
                <%= render partial: "buttons", locals: { album: @album } %>
                <!-- View Reviews Button -->
                <%= link_to 'View Reviews', album_reviews_path(@album), class: "btn btn-primary", type: "button" %>
            </p>
        
        </div>
    </div>
 
</div>

    <!--  <p><%= link_to 'Add to Collection', spot_create_album_path(@album.id), class: "btn btn-primary", role: "button" %></p> -->
   <!--  <% @album.tracks.each.with_index(1) do |track, index| %> 
            <%= index %> - <%= track.name %>
            <br>  
    <% end %>-->
   