<style>
    .jumbotron {
        background-image: linear-gradient(to bottom, rgba(214, 213, 202, 1.0),rgba(63, 58, 64, 1.0));      
        background-size: cover;
        height: 250px;
    }
</style>
 <!-- linear-gradient(to bottom, rgba(245, 246, 252, 0.52), rgba(117, 19, 93, 0.73))--> 

<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-3 text-white text-bold text-center ">Your Album Collection</h1>
     
    </div>
</div>

<div class="container">

<%= form_tag user_collection_index_path, method: "get" do %>
<p>
        <%= select_tag "filter", "<option>Newest Additions</option><option>Oldest Additions</option><option>Highest Rated</option><option>Lowest Rated</option>".html_safe %>
        <%= submit_tag "Filter" %>
</p>
<% end %>
<!-- this is a test to see if I understand branching -->
    <div class="row"> 
        <% @user_albums.each do |user_album| %>            
            <div class="col-md-3">
                <div class="card  mb-4 shadow-sm" >
                    <img class="card-img-top" src="<%= user_album.album.image %>" alt="Card image" style="width:100%">
                    <div class="card-body">
                        <h4 class="card-title"><%= user_album.album.artist.name %></h4>
                        <p class="card-text"><%= user_album.album.name %><br></p>
                        <p>
                            <% if user_album.review %>
                                <%= render partial: "reviews/stars", locals: { stars: user_album.review.stars } %>
                            <% else %>
                                Not rated yet.
                            <% end %>
                        </p>

                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <% if !user_album.review %>
                                    <%= link_to 'Add Review', new_user_album_review_path(user_album), class: "btn btn-sm btn-outline-secondary", type: "button" %>
                                <% else%>
                                    <%= link_to 'Edit Review', edit_review_path(user_album.review), class: "btn btn-sm btn-outline-secondary", type: "button" %>
                                <% end%>


                                <!-- <button type="button" class="btn btn-sm btn-outline-secondary">Add Review</button>--> <!-- "Edit Review" if review exists-->
                                <%= link_to 'View', album_path(user_album.album), class: "btn btn-sm btn-outline-secondary", type: "button" %>
                                <!-- <button type="button" class="btn btn-sm btn-outline-secondary">View</button> --> <!-- go to Album show page -->
                            </div>
                            <%= link_to "Delete", user_album_path(user_album.id), class: "btn btn-sm btn-outline-secondary", method: :delete, data: { confirm: "Are you sure you want to delete this album and your review from your collection?" } %>
                        </div>
                    </div>
                </div>
            </div> 
         <% end %>
    </div>
</div>
<!-- <small class="text-muted">Delete</small> -->
