<div class="container">
    
    <h1 class="page-header">Review <%= @user_album.album.name %></h1>

    <p><img src=<%= @user_album.album.image %> alt="" height="300" width="300"></p>

    

    <%= bootstrap_form_for @review, url: album_reviews_path(@user_album.album_id)  do |f| %> <!-- once I have this working, try bootstrap_form_for-->
      

       
            <%= f.text_field :title %>
            <%= f.text_area :content %>
            <%= f.number_field :stars, min:0, max:5 %> 
    

        <!-- here goes a checkbox for the favorite attribute in :user_albums - use a fields_for? -->

        <%= f.submit %>
    
    <% end %>
  
</div>
