<div class="container">
    <h2>
        <% if @user_album.favorite %>
            <i class="fas fa-crown"  style="color:orange;"></i>
        <% end %>
    
        <%= @user_album.album.name %> - <%= @user_album.album.artist.name %>
    </h2>
    <br><br>

    <h3><%= @review.title %></h3>
    created <%= @review.created_at.strftime('%m-%e-%y at %H:%M') %>, by <%= @user_album.user.username %>
    <br><br> 
    
    <%= render partial: "stars", locals: { stars: @review.stars } %>
     <!-- The album show index page should show average star rating -->
    <br><br>

    <p><%= @review.content %></p>
    <%= link_to 'View Reviews', album_reviews_path(@user_album.album), class: "btn btn-primary", type: "button" %>

</div>
<!-- <% @review.stars.times do%>
        <i class="fas fa-star" style="color:orange;"></i>
    <% end%>
    <% (5 - @review.stars).times do %>
        <i class="far fa-star" style="color:orange;" ></i>
    <% end%> <%= @review.stars %> out of 5 -->