<div class="container">
    <h2><%= @user_album.album.name %> - <%= @user_album.album.artist.name %></h2>
    <br><br>

    <h3><%= @review.title %></h3>
    created <%= @review.created_at.strftime('%m-%e-%y at %H:%M') %>, by <%= @user_album.user.username %>
    <br><br>

    <% @review.stars.times do%>
        <i class="fas fa-star" style="color:orange;"></i>
    <% end%>
    <% (5 - @review.stars).times do %>
        <i class="far fa-star" style="color:orange;" ></i>
    <% end%> <%= @review.stars %> out of 5
    <br><br>

    <p><%= @review.content %></p>

</div>